<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PoseidonShared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PoseidonShared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PoseidonDBEntities" connectionString="metadata=res://*/Model.PoseidonSharedDataClasses.csdl|res://*/Model.PoseidonSharedDataClasses.ssdl|res://*/Model.PoseidonSharedDataClasses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=salman-pc;initial catalog=PoseidonDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <PoseidonShared.Properties.Settings>
      <setting name="DatabaseNamePoseidonArshad" serializeAs="String">
        <value>PoseidonDB</value>
      </setting>
      <setting name="DatabaseServerArshad" serializeAs="String">
        <value>MIRZA-PC</value>
      </setting>
    </PoseidonShared.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PoseidonShared.Properties.Settings>
      <setting name="Environment" serializeAs="String">
        <value>Salman</value>
      </setting>
      <setting name="DatabaseNamePoseidonSalman" serializeAs="String">
        <value>PoseidonDB</value>
      </setting>
      <setting name="DatabaseServerSalman" serializeAs="String">
        <value>Salman-PC</value>
      </setting>
    </PoseidonShared.Properties.Settings>
  </applicationSettings>
</configuration>